.edp-button {
  background-color: #3399db;
  color: white;
  padding: 5px 45px;
  font-size: 18px;
  border-color: #3399db;
  font-weight: bold;
  &:hover {
    color: #3399db;
    background-color: white;
  }
}

.cloud-upload {
  width: 200px;
}

.fileName {
  font-weight: 600;
}
