/*---------------------
  Footer
-----------------------*/

.footer {
	background: #fff;
    padding-top: 40px;
    border-top: 2px solid #a8daf5;
    margin-top: 40px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about p {
	color: #000000;
}

.footer__logo {
	margin-bottom: 25px;
}

.footer__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	
}
.nav-glink{
	li a{
		text-decoration: none;
		&:hover{
			color: #0073b1 !important;
		}
		
	}
}

.footer__widget.footer__widget--social li a {
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

// .footer__widget.footer__widget--social li a:hover {
// 	color: #88C417;
// }

.footer__widget.footer__widget--address p {
	margin-bottom: 10px;
}

.footer__widget.footer__widget--address li {
	line-height: 30px;
	font-size: 15px;
	color: #0073b1;
}

.footer__widget{
	.label{
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
	}
}

.footer__widget h5 {
	font-size: 20px;
	font-weight: 700;
	color:black;
	margin-bottom: 26px;
}

.footer__widget ul li {
	list-style: none;
	height: 30px;
}

.footer__widget ul li a {
	font-size: 15px;
	color: #0073b1;
	line-height: 38px;
}

.footer__widget ul li a i {
	margin-right: 6px;
}

.footer__widget p {
	color: #0073b1;
}

.footer__copyright {
	border-top: 1px solid rgba(112, 112, 112, 0.1);
	padding: 18px 0 15px;
	margin-top: 20px;
	a{
		text-decoration: none;
		color: #5c5c5c;
		&:hover{
			color: #5c5c5c;
			text-decoration: none;
		}
	}
}

.footer__copyright__links li {
	list-style: none;
	display: inline-block;
	line-height: 20px;
	position: relative;
	margin-right: 45px;
}

.footer__copyright__links li:last-child {
	margin-right: 0;
}

.footer__copyright__links li:last-child::after {
	display: none;
}

.footer__copyright__links li:after {
	position: absolute;
	right: -28px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #a8a8a8;
	content: "";
}

.footer__copyright__links li a {
	font-size: 15px;
	// color: #a8a8a8;
}

.footer__copyright__text {
	text-align: right;
}

.footer__copyright__text p {
	color: #a8a8a8;
	margin-bottom: 0;
}

.footer__copyright__text i {
	color: #941515;
}

.footer__copyright__text a {
	color: #88C417;
}